<h1>Need Music?</h1>
<p class="lead">Use the Angular Spotify App to find new music, check out bands and preview tracks! Get started by searching below</p>
<form>
  <div class="form-group">
    <input type="text" name="searchString" [(ngModel)]="searchString" (keyup)="searchMusic()" class="form-control" placeholder="Search Music...">
  </div>
</form>
<div *ngIf="searchResults">
  <div *ngFor="let result of searchResults">
    <div class="row">
      <div class="col-md-12">
        <div class="searchResults well">
          <h4><a [routerLink]="['artist', result.id]">{{result.name}}</a></h4>
          <div>
            <strong>Genres: </strong>
            <span *ngFor="let genre of result.genres">{{genre}} / </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
